extends layout
   
block content
  div.remote
      h2 Device Orientation
      table
        tr
            td Event Supported
            td#doEvent
        tr
              td Tilt Left/Right [gamma]
              td#doTiltLR
        tr       
              td Tilt Front/Back [beta]
              td#doTiltFB
        tr       
              td Direction [alpha]
              td#doDirection

    div.remote
         h2 Device Motion
         table
            tr
              td Event Supported
              td#dmEvent
            tr
              td acceleration</td>
              td#moAccel
            tr
              td accelerationIncludingGravity
              td#moAccelGrav
            tr
              td rotationRate
              td#moRotation
            tr
              td interval
              td#moInterval


      div.container
        img#imgLogo.logo.disable( src="/images/html5_logo.png" )

block scripts
  script(src='/javascripts/remote.js')