extends layout


block content
  div#qrcode
  .jumbotron
    h2 FC Diploaf Control Center

  .row
    .col-xs-4 
        h3 DipWookie
    .col-xs-4 div#online
    .col-xs-4
       a.btn.btn-default(href='/about') Control
  .row
    .col-xs-4 
        h3 LoafDoodle
    .col-xs-4 div#online
    .col-xs-4
       a.btn.btn-default(href='/about') Control

