extends layout
block content
    .container
      h2 (1v1) commands
      form
        .row
            .col.col-xs-12
                   fieldset.form-group.row
                        legend.col-form-legend.col-sm-2 Choose Field and Team
                        .col-sm-10
                            .form-check
                                label.form-check-inline(for="fieldA")
                                    input(type="radio" name="field" id="fieldA" value="A" checked)
                                    span &nbsp; Field A&nbsp;&nbsp;&nbsp;
                                label.form-check-inline(for="fieldB")
                                    input(type="radio" name="field" id="fieldB" value="B")
                                    span &nbsp; Field B
                            .form-check
                                label.form-check-inline(for="robotA")
                                    input(type="radio" name="robot" id="robotA" value="A")
                                    span &nbsp; Robot A&nbsp;&nbsp;&nbsp;
                                label.form-check-inline(for="robotB")
                                    input(type="radio" name="robot" id="robotB" value="B")
                                    span &nbsp; Robot B&nbsp;&nbsp;&nbsp;
                                label.form-check-inline(for="robotX")
                                    input(type="radio" name="robot" id="robotX" value="X" checked)
                                    span &nbsp; Robot X
      
         .row
            .col-xs-6.col-sm-2.text-center
                button.btn.btn-primary(data-cmd="START----") START
            .col-xs-6.col-sm-2.text-center
                button.btn.btn-primary(data-cmd="STOP-----") STOP
            .col-xs-6.col-sm-2.text-center
                button.btn(data-cmd="PING-----") PING
block scripts
    script.
        $("form").submit(function(){
            var field = $('input[name=field]:checked').val();
            var robot = $('input[name=robot]:checked').val();
            var cmd = $('select').val();
            socket.emit('referee', "<ref:a"+ field + robot + cmd + ">");
            return false;
        });