body
  padding-top: 50px
  padding-bottom: 20px

/* Set padding to keep content from hitting the edges */
.body-content
  padding-left: 15px
  padding-right: 15px

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
  max-width: 280px

/* styles for validation helpers */
.field-validation-error
  color: #b94a48

.field-validation-valid
  display: none

input.input-validation-error
  border: 1px solid #b94a48

input[type="checkbox"].input-validation-error
  border: 0 none

.validation-summary-errors
  color: #b94a48

.validation-summary-valid
  display: none

.remote
      border: 1px solid black
      box-shadow: 10px 10px 5px #888
      border-radius: 12px
      padding: 20px
      background-color: #ddd
      margin: 25px
      width: 450px
      margin-left:auto
      margin-right:auto
    
    
    .logo 
      width:205px
      margin-left: auto
      margin-right: auto
      display: block
      padding: 15px
    
    
    .container 
      -webkit-perspective: 300; perspective: 300
    
	img.disabled 
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	
#qrcode
	float:right

.online
	color:green

.online:after
	content: "online"
	float: right
	margin-top: -25px

.aa
	color:red